.playerId {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: blur(20px);
  background-color: rgb(242, 117, 59, 30);

  .close {
    justify-self: flex-end;
    font-size: 6rem;
    transform: rotate(45deg);
    color: #fff;
    transition: 300ms;
    &:hover {
      transform: scale(1.5) rotate(45deg);
    }
  }
  .player-contain {
    background-color: #fff;
    height: 90%;
    width: 80%;
    position: relative;
    box-shadow: 5px 5px 8px #000;
    border: 1px solid #000;
    .name {
      font-size: 8rem;
      position: absolute;
      top: 10%;
      left: 12%;
      z-index: 1;
      color: #f2753b;
      .lastname {
        display: block;
      }
    }
    .block-info {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      gap: 50px;
      .player-picture {
        align-self: flex-end;
        max-height: 500px;
        height: 80%;
        transform: translateX(-50%);
      }
    }
    .stats {
      align-self: flex-end;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      max-width: 40%;
      max-height: 300px;
      gap: 80px;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 70px;
      .info {
        color: rgba(0, 0, 0, 30%);
        .info-data {
          padding-top: 7px;
          display: block;
          color: #f2753b;
        }
      }
    }
    .resume {
      align-self: flex-end;
      width: 15%;
      height: 300px;
      overflow-y: scroll;
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: 1.5px;
      margin-bottom: 70px;
      .info {
        color: rgba(0, 0, 0, 30%);
        text-transform: uppercase;
        .info-data {
          padding-top: 7px;
          display: block;
          color: #f2753b;
        }
      }
    }
    .flag {
      position: absolute;
      top: 3%;
      right: 3%;

      img {
        object-fit: contains;
        max-height: 120px;
      }
      .info-data {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 2rem;
        text-transform: uppercase;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .playerId {
    .player-contain {
      overflow: hidden;
      .name {
        font-size: 3rem;
        position: static;
        text-align: center;
      }
      .block-info {
        margin-top: 30px;
        align-content: flex-start;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        .player-picture {
          transform: translateX(0);
          // height: 400px;
          height: 50%;
          align-self: flex-start;
        }
        .stats {
          gap: 20px;
          flex-flow: column wrap;
          display: flex;
          flex-flow: row wrap;
          align-self: center;
          height: 100%;
          height: 30%;
          .info {
            .info-data {
              padding: 0;
            }
          }
        }
        .resume {
          height: 150px;
          width: 100%;
          padding: 0 5%;
          margin-top: 50px;
          // margin-top: 150px;
          margin-bottom: 0;
          align-self: flex-end;
          justify-self: flex-end;
        }
      }
      .flag {
        img {
          max-height: 50px;
        }
        .info-data {
          font-size: 1rem;
          letter-spacing: 3px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .playerId {
    .player-contain {
      height: 100%;
      .name {
        font-size: 2rem;
        text-align: center;
      }
      .block-info {
        gap: 0;
        .player-picture {
          height: 200px;
          width: 100px;
        }
        .stats {
          justify-content: flex-start;
          display: flex;
          flex-flow: column nowrap;
          gap: 5px;
        }
        .resume {
          margin-top: 30px;
          align-items: flex-start;
        }
      }
    }
    .flag {
      height: 50px;
      top: 0;
      img {
        height: 50px;
      }
      .info-data {
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
