a {
  text-decoration: none;
  .player {
    background-color: #fff;
    height: 130px;
    width: 500px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000;
    &:hover {
      .player-picture {
        transition: 300ms;
        transform: scale(1.1);
      }
    }
    .player-picture {
      height: 250px;
      width: 150px;
    }
    .info {
      width: 100%;
      .title-name {
        color: #f2753b;
        font-weight: bold;
      }
      .stats {
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        text-transform: uppercase;
        .data {
          color: rgba(0, 0, 0, 30%);
          font-size: 1.4rem;
          font-weight: bold;
          span {
            font-weight: bold;
            display: block;
            color: #f2753b;
            align-self: flex-start;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  a {
    .player {
      width: 300px;
      height: auto;
      display: flex;
      flex-direction: row;
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .stats {
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: center;
        }
      }
    }
  }
}
